.player {
  height: 150px;
}

.playerCard {

  background-repeat: no-repeat;
  width: 80px;
  height: 109px;
  display: inline-block;
}

.cardTable {
    width: 800px;
    height: 150px;
    background-color: green;
    margin: 30px;
    margin-top: -40px;
    position: relative;
}

.cardTable .playerCard:nth-child(even) {
    margin-left: -30px;

}

.isTrump {
    border: 2px solid red;
    border-radius: 10px;
}

.canMove {
    border: 2px solid green;
    border-radius: 10px;
}

.noMove {
    background-image: "";
    background-color: black;
}

.buttonBeat {
    position: absolute;
    top: 0;
    right: 0;
}
