.player {
  height: 150px;
}

.playerCard {
  background-repeat: no-repeat;
  width: 80px;
  height: 109px;
  display: inline-block;
}

.cardTable {
    width: 500px;
    height: 150px;
    background-color: green;
    margin: 30px;
}

.isTrump {
    border: 2px solid red;
    border-radius: 10px;
}
